*{
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    background-color: #2e4057;
    color: #f6d8ae;
    height: 6rem;
    line-height: 6rem; 
}

.choice{
    height:165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

img{
    object-fit:cover;
    height:150px;
    width:150px;
    border-radius:50%;
    background-color:red;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 7rem;
    /* background-color: pink; */
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3 rem;
    gap: 6rem;
}

#yourscore, #computerscore {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #083d77;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem; 
}